<% provide(:title, "Top") %>
<div class="container">
  <div class="row">
    <div class="col-md-7">
     <div class="jumbotron text-center">
       <h1 class= "center">TaskApp</h1>
         <p>TaskAppは簡易ToDo管理ツールです。</p>
         <p>↓↓初めてのご利用↓↓</p>
         <%= link_to "アカウント作成", signup_path , class: "btn btn-lg btn-success" %>
    </div>
        </div>

<div class= "col-md-4">
  <h1>ログイン</h1>
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  
    <%= f.label :email, class: "label-login" %>
    <%= f.email_field :email, class: 'form-control' %>
    
    <%= f.label :password, class: "label-login" %>
    <%= f.password_field :password, class: 'form-control' %>
 
    <%= f.label :remember_me, class:"checkbox inline dheckbox-login", for: "remember_me" do %>
      <%= f.check_box :remember_me, id: "remember_me" %>
      <span>ログイン情報を記憶する</span>
      <% end %>
   
    <%= link_to "ログイン", login_path, class: "btn btn-block btn-primary" %>
  <% end %>
  </div>
</div>
</div>
